h1, h2, h3, p {
    font-size: 3.5em;
    font-weight: 300;
    text-align: center;
    padding: 2px 12px
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.3em;
}

p {
    font-size: 1em;
    font-weight: 300;
}

a:hover {
    text-decoration: none;
}
